<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   你已成功插入数据！点击查看数据可查看更新后的数据!
   <br>
    <p>所属校区:{{results['campus']}}</p>
    <p>建筑名称:{{results['buildname']}}</p>
    <p>房间号:{{results['roomid']}}</p>
    <p>房间名称:{{results['roomname']}}</p>
    <p>建筑面积:{{results['areaBuild']}}</p>
    <p>使用面积:{{results['areaUse']}}</p>
    <p>房屋用途:{{results['purpose']}}</p>
    <p>房屋分类:{{results['classify']}}</p>
    <p>使用人编号:{{results['userid']}}</p>
    <p>使用人:{{results['username']}}</p>
    <p>房屋状态:{{results['roomstate']}}</p>
    <p>备注:{{results['notes']}}</p>
    <p>院系:{{results['department']}}</p>
   <br>
   <a href="/queryDetail"><button>返回</button></a>
</body>
</html>